In [52]:
%load_ext autoreload
%autoreload 2
from board import *
from candy import *
from analysis import *
import matplotlib.pyplot as plt
from viz import Viz
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
df = pd.read_csv('human.csv')

In [54]:
df

     Unnamed: 0   score                                         board_init
0             0  2040.0  4050206020204020106040103050105030101040103060...
1             1  3480.0  6040205050203040105010406010203020404020606050...
2             2  6100.0  4010201020102030405010206060204040301050502032...
3             3  8600.0  4040105030502020105010405020602060602040104010...
4             4  9580.0  6020303060303040202040606010506060205040405060...
..          ...     ...                                                ...
195         195     NaN                                                NaN
196         196     NaN                                                NaN
197         197     NaN                                                NaN
198         198     NaN                                                NaN
199         199     NaN                                                NaN

[200 rows x 3 columns]

In [55]:
df = pd.read_csv('results_arena_with_human.csv')
df_human = pd.read_csv('human.csv')
df_human['human'] = df_human["score"]

In [56]:
df.dropna()

    random   greedy  offline  mcts_base  mcts_fixed_depth  combined
0   1560.0   4380.0  22720.0     5980.0            2140.0    4080.0
1   7160.0   2880.0   1960.0     7480.0            8320.0    2980.0
2   2420.0   4160.0   5160.0     4200.0            5820.0    3540.0
3   2880.0   4420.0   1800.0     3480.0            9180.0    3640.0
4   1920.0   4800.0   4200.0    17360.0           11040.0    4200.0
5   3680.0   4560.0   4340.0     9940.0            4380.0   12000.0
6   2040.0   5660.0  11440.0     9060.0           20900.0   11580.0
7   1680.0   2080.0   2860.0     3500.0            7240.0    3120.0
8   3840.0   1800.0   2300.0     4120.0            2280.0    7520.0
9   1560.0  10740.0   4220.0     4860.0           11860.0   11260.0
10  1320.0   1320.0   1560.0    10740.0            3840.0    2980.0
11  2040.0   2280.0   3840.0     1920.0            4420.0    3800.0
12  3240.0   3900.0   2180.0    11440.0            2740.0   14900.0
13  2380.0   2860.0   1200.0     9280.0            3680.0    2460.0
14  2200.0   2160.0   5300.0     2620.0            4760.0    4660.0
15  1560.0   3080.0   3700.0     8800.0            3120.0    3940.0
16  3840.0   2880.0   2140.0     4480.0            6400.0   12980.0
17  1440.0   3140.0   3200.0     8700.0            7960.0   12300.0
18  1800.0   3260.0   8000.0     8940.0            9500.0    6800.0
19  2700.0   7020.0   2780.0     4300.0           10000.0    2040.0
20  1200.0   8640.0   9620.0    11400.0           11100.0   10280.0
21  2320.0   1920.0   3380.0     4420.0            2940.0    1680.0
22  2200.0   2980.0  10020.0    25900.0            2280.0   11740.0
23  1200.0   4360.0   3800.0     3720.0            4740.0    4300.0
24  1560.0   2640.0   1800.0    10280.0            2040.0    7080.0
25  4800.0   5620.0   5920.0     6340.0            5040.0    5380.0
26  1680.0   6180.0   4780.0     3640.0            4560.0   15960.0
27  7400.0   2400.0  13820.0    11840.0           10280.0   11620.0
28  2380.0   1440.0   1840.0     2740.0            7440.0    3460.0
29  2040.0   3440.0   1720.0    18260.0            2040.0   15440.0
30  2480.0   2400.0   1800.0     2500.0            2900.0    8320.0
31  1800.0   4560.0   3640.0    10540.0           11560.0    4400.0
32  1560.0   2040.0   1560.0     3740.0            5040.0   14420.0
33  2520.0   1680.0   2400.0     4940.0            9540.0    9380.0
34  2300.0   6560.0   4060.0    11000.0           15880.0    5540.0
35  2380.0   3920.0   1940.0     2360.0           14140.0    2280.0
36  1440.0   4060.0   4000.0    20840.0            6800.0    5280.0
37  1920.0   2800.0   3600.0     3540.0            4400.0    3580.0
38  1560.0   2860.0   3120.0    14440.0            2280.0    3140.0
39  2200.0   2460.0   2280.0     7200.0            5200.0    5120.0

In [57]:
df_human["score"].dropna()

0      2040.0
1      3480.0
2      6100.0
3      8600.0
4      9580.0
5     14220.0
6      2380.0
7      3320.0
8      1800.0
9     13780.0
10     4080.0
11     2740.0
12     2900.0
13     2860.0
14     2740.0
15     3400.0
16    30800.0
17     2520.0
18    10220.0
19     9380.0
20     8360.0
21     2980.0
22    14120.0
23     1440.0
24     2080.0
25     6180.0
26     5220.0
27    12980.0
28     3320.0
29    14080.0
30    19300.0
31     7020.0
32     3000.0
33     4240.0
34     9180.0
35     7980.0
36     5240.0
37     4260.0
38     2320.0
39     3040.0
Name: score, dtype: float64

In [58]:
df_all = pd.concat([df.dropna(), df_human["human"].dropna()], axis=1)

In [59]:
df_all.to_csv('results_arena_with_human_ready.csv', index=False)

In [51]:
df_all

   random  greedy  offline  mcts_base  mcts_fixed_depth  combined    human
0  1320.0  5560.0   3700.0    13260.0            3800.0    4580.0   2040.0
1  2280.0  7720.0  21620.0     1920.0            3540.0    4060.0   3480.0
2  3420.0  3020.0   2140.0     4580.0            6800.0    7120.0   6100.0
3  3520.0  2320.0   7540.0     2420.0            2560.0    8060.0   8600.0
4  1560.0  3220.0   5440.0     8220.0            9500.0    3780.0   9580.0
5  3300.0  3100.0   9140.0    12420.0            4320.0    5960.0  14220.0
6  1320.0  2400.0   2320.0     6060.0            5080.0   23520.0   2380.0
7  2920.0  2080.0   3980.0     5540.0            7680.0    2500.0   3320.0
8  1840.0  2040.0   1560.0     2520.0            7000.0    8780.0   1800.0
9  1680.0  5080.0   2040.0     5320.0           13260.0    5500.0  13780.0